#canvas{
    position: absolute;
    background-color:black;
    height:650px;
    width:1000px;
    image-rendering: pixelated;
    border: 2px solid white;
    cursor: none;
}
html{
    background-color: #222;
}
/* #scoreDiv{
    position: absolute;
    top: 2;
    left:2;
    font-size: 3;
    color: white;
    z-index: 100;
} */