#canvas{
    position: absolute;
    background-color:black;
    height:650px;
    width:1000px;
    image-rendering: pixelated; 
    border: 2px solid white;
    cursor: none;
    z-index: 100;
}
html{
    background-color: #222;
}
#score{
    position: absolute;
    top: 15px;
    left:15px;
    font-size: 45px;
    color: white;
    z-index: 1000;
    font-family: 'Press Start 2P', cursive;
}